@import url('../fonts.css');

/* intro 이후 main 틀 */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* '그래도~구경' fade in */
.fade-I {
    opacity: 0;
    animation: fadeIn 2.5s linear forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

